@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
  background-color: #ECEBE4 !important;
}
.app-title{
  font-family: 'Lobster Two', cursive;
  color: #1C1C1C;
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.kanban-board {
  display: flex;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #EEF0F2;
  border-radius: 10px;
  overflow: hidden;
}

.column-heading{
  background-color: #FAFAFF;
  margin: 0;
  border-bottom: 1px solid #ccc;
  font-family: 'Lobster Two', cursive;
  color: #1C1C1C;
}

.column-heading, .task-list {
  padding: 10px;
}

.task-list {
  min-height: 100px;
}

.task {
  padding: 10px;
  /* background: #f9f9f9; */
  background: #DADDD8;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.task + .task {
  margin-top: 10px;
}

.task:hover .btn-delete-task {
  display: block;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  flex-direction: row;
}

form label {
  margin-right: 10px;
  flex: 1 1 100%;
  font-family: 'Lobster Two', cursive;

}

form input[type="text"], 
form select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 8px;
  flex: 1 1 100%;
}

form button[type="submit"] {
  padding: 4px 16px;
  background: #4CAF50;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Lobster Two', cursive;
}

.btn-delete-task {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.btn-delete-task:hover {
  background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
  right: -11px;
}
.btn-delete-task:active {
  background: #E54E4E;
  top: -10px;
  right: -11px;
}

